.nav {
  a {
    font-size: 1.2em;
    padding: 8px 15px 8px 15px;
    margin-right: 5px;
    border-radius: 5px;

    &:hover {
      background-color: #ccc;
    }
  }
}

.navActive {
  background-color: #ddd;
}
