<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>react-setup</title>
    <meta name="description" content="react-setup">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="App">{{ appString | safe }}</div>

    <script>
      window.__initialState = {{ initialState | safe }};
    </script>
    {% if env.NODE_ENV == 'development' %}
      <script src="http://localhost:{{ env._WEBPACK_DEV_PORT }}/js/app.js" defer></script>
    {% else %}
      <script src="/js/app.min.js" defer></script>
    {% endif %}
  </body>
</html>
