@import 'vars.css';
/* @import 'icons.css'; */
/* @import 'fonts.css'; */

/* base.css has global css unaltered class names (postcss without modules option) */

body {
  padding: 10px;
  color: $TEXT_COLOR;
  font-family: Arial;
}

:global a {
  text-decoration: none;
  color: $LINK_COLOR;
}

.globalNav {
  font-weight: bold;
}
