@import '../styles/base.css';

*:focus {
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 1px !important;
}

.app {
  font-family: Verdana;
  font-size: $text-size;
  color: $text-color;
  margin: 10px;

  nav {
    display: flex;
    list-style: none;
    span {
      margin-right: 20px;
    }
  }

  .appBody {
    margin-top: 10px;
  }
}
