@import '../styles/base.css';

*:focus {
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 1px !important;
}

.app {
  font-family: Verdana;
  font-size: $text-size;
  color: $text-color;

  nav {
    display: flex;
    list-style: none;
    span {
      margin-right: 20px;
    }
  }

  .appBody {
    margin-top: 10px;
  }

  button {
    width: 100px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #eee;
  }
}
